@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply font-dm-mono
    }
}

@layer components{
    .container{
        @apply max-w-screen-2xl mx-auto py-10 px-5 md:px-10
    }
}

*{
    font-family: 'DM Mono', monospace !important;
}

#filter-option::-webkit-scrollbar {
    width: 4px; /* width of the scrollbar */
    height: 8px;
  }
  
  #filter-option::-webkit-scrollbar-thumb {
    background-color: rgb(20 44 68); /* color of the thumb */
    border-radius: 2px; /* rounded corners of the thumb */
  }
  
  #filter-option::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* color of the track */
    height: 2px;
  }
  